[Unit]
Description=Reboot Poller Service
After=docker.service
Requires=docker.service
After=poller@%i.service
Requires=poller@%i.service

[Service]
Type=oneshot
TimeoutStartSec=20m
ExecStart=/bin/sh -c "docker stop poller-%i"

[X-Fleet]
MachineOf=poller@%i.service
